<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
<!-- 设置首页 -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
<!-- 配置servlet类 -->
    <servlet>
        <servlet-name>ServletTest01</servlet-name>
        <servlet-class>com.cd.ServletTest01</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletTest01</servlet-name>
        <url-pattern>/ServleTest01</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletTest02</servlet-name>
        <servlet-class>com.cd.ServletTest02</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletTest02</servlet-name>
        <url-pattern>/ServleTest02</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletTest03</servlet-name>
        <servlet-class>com.cd.ServletTest03</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletTest03</servlet-name>
        <url-pattern>/ServleTest03</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletConfigTest</servlet-name>
        <servlet-class>com.cd.ServletConfigTest</servlet-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>utf-8</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletConfigTest</servlet-name>
        <url-pattern>/ServletConfigTest</url-pattern>
    </servlet-mapping>
</web-app>